html * {
    margin: 1%;
    max-width: 95%;
    align-items: center;
}
#menu{
    background-color: #DB9DB7;
    margin-bottom: 20px;
    border-top: 10px solid #9D4686;
    border-bottom: 10px solid #9d4686;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
#titulo {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: verdana;
}
#menu a{
    color:black;
    text-transform:uppercase;
    text-decoration: none;
    font-family: sans-serif ; 
    font-weight: bold;
    text-align: center;
    margin: 05px;
}
#logotipo {
    display: block;
    margin-right: auto;
    
}
.inicial {
    text-align: center;
    text-transform: uppercase;
    font-family: lucida sans;
    font-weight: bold;
    justify-content: center;
    color: white;
}
body{
    background-color:#D0B9CA;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
   grid-template-rows: repeat(2, 300px);
    
}
h2{
    text-align: center;
}
.rodape {
    background-color: #DB9DB7;
    margin-bottom: 20px;
    border-top: 10px solid #9D4686;
    border-bottom: 10px solid #9d4686;
        /* ALINHAR NA HORIZONTAL */
    justify-content:center;
    /* ALINHAR NA VERTICAL */
    align-items: center;
}