html * {
    margin: 0%;
    max-width: 100%;
    align-items: center;
}
#menu{
    /*MENU DE NAVEGAÇÃO*/
    background-color: #DB9DB7;
    margin: 0px;
    border-top: 10px solid #9D4686;
    border-bottom: 10px solid #9d4686;
    padding: 05px;
    display: grid;
    /* QUANTIDADE DE COLUNAS */
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
#titulo {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: helvetica;  

}
#menu a{
    color:black;
    text-transform:uppercase;
    text-decoration: none;
    font-family: cursive ; 
    font-weight: bold;
    text-align: center;
    margin: 05px;
}
#explica {
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: cursive;
    font-weight: bold;
    justify-content: center;
    color: rgba(255, 208, 0, 0.918);
    font-size: 15px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 10px;
    background-color: blueviolet;

}
    

.inicial {
    text-align: center;
    text-transform: uppercase;
    font-family: lucida sans;
    font-weight: bold;
    justify-content: center;
    color: white;
}
body{
    background-color:#D0B9CA;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 30%) ;
    gap:30px;
   grid-template-rows: repeat(2, 300px);
   margin-top:50px;
   margin-left: 5%;
   margin-right: 5%;
    
}
h2{
    text-align: center;
}
.rodape {
    background-color: #DB9DB7;
    margin-bottom: 20px;
    border-top: 10px solid #9D4686;
    border-bottom: 10px solid #9d4686;
        /* ALINHAR NA HORIZONTAL */
    justify-content:center;
    /* ALINHAR NA VERTICAL */
    align-items: center;
}

.item {
    /* COR DE FUNDO */
    background-color: #9d4686;
    /* FONTE */
    font-family: cursive;
    /* LETRAS MAIÚSCULAS */
    text-transform: initial;
     /* COR DA FONTE */
    color: #000000;
    /* BORDA SUPERIOR */
    border-top: 10px solid #eb99d2;
    /* BORDAS ARREDONDADAS */
    border-radius: 5%;
    /* TEXTO CENTRALIZADO */
    text-align: center;
    
}
img{
    height: 300px;
    width: 300px;
    object-fit: contain;
}
#logo{
    /* LARGURA DO LOGOTIPO */
    width: 100%;
    /* MARGEM DO LOGOTIPO */
    margin: 5px;
    
}

